name: Publish

on:
  release:
    types: [ released ]

jobs:
  publish:
    name: Release build and publish
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Create secrets file
        env:
          GPG_KEY_CONTENTS: ${{ secrets.GPG_KEY_CONTENTS }}
          SIGNING_SECRET_KEY_RING_FILE: ${{ secrets.SIGNING_SECRET_KEY_RING_FILE }}
        run: sudo bash -c "echo '$GPG_KEY_CONTENTS' | base64 -d > '$SIGNING_SECRET_KEY_RING_FILE'"
      - name: Release build and source jar generation
        run: ./gradlew :rainbow-cake-core:assembleRelease :rainbow-cake-test:assembleRelease :rainbow-cake-dagger:assembleRelease :rainbow-cake-hilt:assembleRelease :rainbow-cake-koin:assembleRelease :rainbow-cake-navigation:assembleRelease :rainbow-cake-timber:assembleRelease :rainbow-cake-core:androidSourcesJar :rainbow-cake-test:androidSourcesJar :rainbow-cake-dagger:androidSourcesJar :rainbow-cake-hilt:androidSourcesJar :rainbow-cake-koin:androidSourcesJar :rainbow-cake-navigation:androidSourcesJar :rainbow-cake-timber:androidSourcesJar
      - name: Publish to MavenCentral
        run: ./gradlew publishReleasePublicationToSonatypeRepository closeAndReleaseRepository
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
          SIGNING_SECRET_KEY_RING_FILE: ${{ secrets.SIGNING_SECRET_KEY_RING_FILE }}
          SONATYPE_STAGING_PROFILE_ID: ${{ secrets.SONATYPE_STAGING_PROFILE_ID }}
